[2015-06-27 01:59] mauro3 opened #1 "make IsCallable trait"
See https://github.com/mauro3/Traits.jl/issues/16, but I think I'll add this here.

[2015-06-28 00:13] #1 closed

[2015-06-28 00:14] mauro3 commented on #1
cc: @malmaud

[2015-06-28 00:24] malmaud commented on #1
Thanks!

[2016-07-25 19:51] mauro3 opened #4 "Support Traitor syntax?"
Should Traitor-like syntax sugar be added?  Looks like:
[code]
from the readme of https://github.com/andyferris/Traitor.jl.  Would be equivalent to:
[code]

[2016-08-02 12:40] mauro3 opened #7 "`Method overwritten` warnings, take 2"
PR #5 fixed most of the `method overwritten` warnings, but not all:
[code]
If this becomes fixable at some stage without too much effort/code, then fix.

[2016-09-11 13:31] timholy opened #8 "Register and tag"
I expect to get closer to releasing the new Images over the course of this coming week, so I'll need this package registered & tagged soon. (Or find an alternative, if you don't want to do that.)

[2016-09-12 05:55] mauro3 commented on #8
Cool, I'll register it.

[2016-09-12 10:15] mauro3 commented on #8
I'm in the progress of cleaning up the docs and came across an old docstring where I suggest the convention to have trait-names contain verbs to distinguish them from types (which usually are nouns).  I think that would lead to mostly `Is...` and `Has...` traits, e.g. `IsImmutable`.

As you're one of the few people who actually used traits: Do you think that would be useful?  Or just annoying?

[2016-09-12 13:15] mauro3 commented on #8
I'm ready to publish but I ran into https://github.com/JuliaLang/julia/issues/18455.  So, I'll wait for a day or two to hear whether I need to do debugging for that issue.

[2016-09-12 13:28] mauro3 commented on #8
PR submitted: https://github.com/JuliaLang/METADATA.jl/pull/6333

[2016-09-12 14:20] timholy commented on #8
Awesome!

Since this package only support "boolean" traits, I think the `Is/Has` tradition is a good one. (For trait system that supported an arbitrary number of categories, e.g., `(Strided, Dense, Sparse, Computed) <: AbstractStorage`, then the `Is/Has` tradition would be less relevant.

[2016-09-12 19:44] mauro3 commented on #8
One could still go with `IsStrided`, `IsDense`, etc. no?  Although I can't fit the super trait `AbstractStorage` into the verb-first scheme.

I'll add the style recommendation to the readme.  Once a few hundred packages have adapted SimpleTraits, I can do a rigorous evaluation ;-)

[2016-09-12 20:26] mauro3 opened #9 "`@traitimpl` does not work with `Not`"
This should work but does not:
[code]

[2016-09-12 21:04] timholy commented on #8
`IsStrided` sounds like it should have a yes/no answer and that you should be able to combine it freely with `IsDense`, whereas I meant those as exclusive possibilities. When I order 1 scoop of ice cream, I get Chocolate, Vanilla, or Strawberry, not IsChocolate, IsVanilla, or IsStrawberry.

[2016-09-13 20:10] #8 closed

[2016-09-14 07:50] timholy commented on #8
Thanks!

[2016-10-11 21:00] mauro3 opened #11 "Trait inheritance"
Trait inheritance can be implemented with generated functions as described in https://github.com/mauro3/SimpleTraits.jl#advanced-features .  This could be added to the `@traitdef` macro.  One thing to ponder would be the effect of `@traitimpl`: should it do checking that subtraits are defined (trickier) or should it just force it (this would be as is).

[2016-10-13 12:14] #4 closed

[2016-10-13 12:17] mauro3 commented on #4
Note, that still only one trait can appear per function signature.

Thanks to @c42f and @andyferris for the good ideas.

[2016-10-13 19:11] mauro3 commented on #7
With the traitor syntax this will be hit more often as the type often gets gensym'ed:
[code]

[2016-10-13 20:35] #9 closed

[2016-10-14 02:37] JeffreySarnoff commented on #11
Do the easier first, with examples of proper use -- your package is of much wider applicability if stuff that is in the land of @generated is done behind the scene.

[2016-10-19 15:07] mauro3 commented on #11
Some initial work on this branch: https://github.com/mauro3/SimpleTraits.jl/tree/m3/subtraits

[2016-10-19 19:08] JeffreySarnoff commented on #11
Thanks for the subtrait effort.

Why did Not need to become concrete?

fyi, re line 114, to distinguish CleanCode from cleanCode ... title case
LooksLikeThis because of title page typograpy and camel case looksLikeThis
because the camel's hump is in the middle of its body (someone was watching
a camel while it was drinking).

On Wed, Oct 19, 2016 at 11:07 AM, Mauro <notifications@github.com> wrote

[2016-10-19 19:20] mauro3 commented on #11
I added a test that all trait parameters need to be specified for it to be a valid trait:
https://github.com/mauro3/SimpleTraits.jl/blob/2d5112b3d50ec9d67eec7c9a5a06073fb079ff87/src/SimpleTraits.jl#L94
But that test only works if `Not` is not abstract.  I'm not sure what the original reason was to make it abstract. The test pass, so I just changed it.

I'm kinda aware of camelCase but no true came

[2016-10-19 20:23] JeffreySarnoff commented on #11
I'll try it out.

On Wed, Oct 19, 2016 at 3:20 PM, Mauro <notifications@github.com> wrote:

[2016-10-19 21:22] JeffreySarnoff opened #12 "sub-trait, intersected-trait"
intersection would be better.

Without considering the interapplication of types, some uses differ.  This arises from parentage, a subtrait has one parent and an intersected trait has one or more parents.  Both can be used to specialize; subtrait specialization constrains the expression of its parent and ?intertrait specialization expresses the constraint of its parents.

[2016-10-20 08:07] mauro3 commented on #12
Note that traits can have several super-traits.

[2016-11-17 21:40] mauro3 opened #13 "Add tests for functions with return type annotations"

[2016-11-18 02:01] ChrisRackauckas opened #14 "Tag SimpleTraits"
Currently master is required for this to work: https://github.com/JuliaDiffEq/DiffEqBase.jl/pull/2 . I think a patch is probably due.

[2016-11-19 13:30] mauro3 opened #15 "Make macro for generated-function traitimpl"
This is a fairly common patter:
[code]
would be nice to have a macro
[code]
(or some other syntax)

[2016-11-19 13:34] mauro3 commented on #14
I'll hack to today on #15 and then tag.

[2016-11-19 20:37] #15 closed

[2016-11-19 20:47] mauro3 commented on #14
https://github.com/JuliaLang/METADATA.jl/pull/7094

[2016-11-19 22:54] #14 closed

[2016-11-25 13:56] mauro3 opened #18 "Traitor syntax hickup"
This should work:
[code]

[2016-11-25 14:48] mauro3 opened #19 "Make doc-strings work"

[2017-01-18 11:00] mauro3 commented on #19
Not sure what I meant with this.

[2017-01-18 11:00] #19 closed

[2017-02-11 04:30] yuzhangbit opened #20 "Failed to precompile SimpleTraits"
Below is the output after running
[code]
Does anyone know how to resolve this? Thank you in advance.
[code]

[2017-02-11 05:04] #20 closed

[2017-02-11 06:01] juliohm opened #21 "Build error with segfault on Travis"
Can you please confirm the build error below is caused by this package?

https://travis-ci.org/juliohm/ImageQuilting.jl/jobs/200428164

I recently added the `DOCUMENTER_KEY` to the build and it started failing somehow.

[2017-02-11 12:33] timholy commented on #21
Also spotted [here](https://travis-ci.org/JuliaIO/ImageMagick.jl/builds/200532780), on both Linux and OSX with Julia 0.5. @juliohm, does it fail for you locally? I'm running the `release-0.5` build of Julia, and Travis is running 0.5.0---maybe that's the difference?

[2017-02-11 15:57] juliohm commented on #21
Hi @timholy, I am using Julia 0.5.1-pre+31, the tests pass locally, I am restarting the build on Travis to see if something changes.

[2017-02-11 16:05] timholy commented on #21
That's the same branch I'm using. Some more information here: https://github.com/JuliaLang/METADATA.jl/pull/7917#issuecomment-279152314.

[2017-02-11 23:36] tkoolen commented on #21
I'm encountering the same problem in RigidBodyDynamics.jl (fixed by downgrading SimpleTraits to 0.1.1). It fails for me locally on OSX as well on Travis, see https://travis-ci.org/tkoolen/RigidBodyDynamics.jl/jobs/200563311.

[2017-02-12 00:24] timholy commented on #21
It's not really SimpleTraits, it's MacroTools. You could pin MacroTools to v0.3.4. That would be rather less of a downgrade of functionality than downgrading SimpleTraits to 0.1.1.

[2017-02-12 00:28] tkoolen commented on #21
I just figured that out as well. Thanks for the heads up!

[2017-02-12 10:02] timholy commented on #21
Fixed: https://github.com/JuliaLang/METADATA.jl/pull/7927.

[2017-02-12 10:02] #21 closed

[2017-02-12 14:46] juliohm commented on #21
Thank you Tim! You're incredible, all the best :-)

On Feb 12, 2017 2:02 AM, "Tim Holy" <notifications@github.com> wrote:

[2017-02-12 15:10] timholy commented on #21
Wasn't me, thanks go to @tkelman.

[2017-02-12 15:14] juliohm commented on #21
Thanks Tony!  Sorry for the confusion, I didn't read the thread , replying
from my email. I appreciate the help :-)

On Feb 12, 2017 7:10 AM, "Tim Holy" <notifications@github.com> wrote:

[2017-02-13 09:45] mauro3 commented on #21
After an exciting weekend for you guys, it's good to see that all is back to normal this Monday morning. Thanks to all!

[2017-02-21 19:12] davidanthoff opened #23 "Add a isiterable trait"
I'm not sure this can be done, but I have a vague idea that with all the new work about world counters etc. it might be feasible to add a trait that checks whether all the functions required for iteration are implemented for a type? I remember we discussed this somewhere before, and back then this didn't work because of the infamous problem in julia that I think is now solved with the world counti

[2017-02-21 20:02] juliohm opened #24 "Build failure in Julia v0.6"
Can you please confirm this error is coming from SimpleTraits.jl?

https://travis-ci.org/juliohm/ImageQuilting.jl/jobs/201223318#L771

[2017-02-21 20:05] mauro3 commented on #24
Since that build ran, a new version was released where Tim fixed some stuff.  Can you try again?  If nothing else, the dep-warns should go.

[2017-02-21 20:07] mauro3 commented on #24
And I think the error was fixed in https://github.com/mauro3/SimpleTraits.jl/commit/81a5d17532097c66b210c3e9f5024918c1b1688d (which is also part of that release).

[2017-02-21 20:08] juliohm commented on #24
I am rebuilding now...

[2017-02-21 20:15] mauro3 commented on #23
I'm not sure how the word-age stuff could help here, but I know next to nothing about it.  The new type-system might.  You could try to use `method_exists` inside a generated function, like described in https://github.com/mauro3/SimpleTraits.jl#advanced-features.

[2017-02-21 20:47] mauro3 commented on #24
It still picks up that error: https://travis-ci.org/juliohm/ImageQuilting.jl/jobs/201223318#L770.  I can reproduce this locally by checking out 32079f0, but not on the currently released 0.3.0.  Not sure whether one of your dependencies pins it at 0.2.0?  Yes, here https://travis-ci.org/juliohm/ImageQuilting.jl/jobs/201223318#L273 it says it installs 0.2.0.

[2017-02-22 00:39] juliohm commented on #24
@mauro3 the link you showed says 0.3.0, can you please confirm?

[2017-02-22 08:01] mauro3 commented on #24
I must have been hallucinating.  But now the error is also different: https://travis-ci.org/juliohm/ImageQuilting.jl/jobs/201223318#L1267 and seems unrelated to SimpleTraits.jl.

[2017-02-22 08:06] juliohm commented on #24
Thank you @mauro3, I will close the issue and report it in Images.jl :)

[2017-02-22 08:06] #24 closed

[2017-02-22 08:11] mauro3 commented on #24
Thanks too & by the way, your ImageQuilting.jl package looks really cool.

[2017-02-22 08:28] juliohm commented on #24
Thanks @mauro3 :) I hope the corresponding paper will come out soon. I am working on a completely separate package now, super excited to be doing research within the Julia ecosystem. It is really productive.

[2017-02-22 18:12] davidanthoff commented on #23
See #25.

Next step for me is to understand inheritance of traits, so that I can define a trait ``IsIterableTable``, where I also check whether the element type of the iterator is a subtype of a specific type.

Thanks for the pointer to ``method_exists``, one of those cases where I would have hunted forever, but that made it all really simple :)

[2017-02-22 19:44] mauro3 commented on #23
Cool :-)

There is no inheritance built into SimpleTraits but you can do it by hand, again using generated functions.  See the `BeautyAndBeast` example in the README.

[2017-02-22 21:36] mauro3 commented on #23
Fixed by #25.

[2017-02-22 21:36] #23 closed

[2017-02-26 17:17] jgoldfar opened #26 "Build error on JuliaBox (v0.5.0)"
Trying to use https://github.com/JuliaDiffEq/ODE.jl on JuliaBox with a v0.5.0 kernel reproducibly fails due to some issue in this package; tried to hack at it but don't have the metaprogramming ability to help...
See https://gist.github.com/jgoldfar/6509376f7b42e2608fa969662ddd1fc1

[2017-02-26 18:57] mauro3 commented on #26
There is something odd with JuliaBox+Compat going on.  On a fresh JuliaBox profile (i.e. all packges wiped), I get this:
![1](https://cloud.githubusercontent.com/assets/4098145/23342573/59594ec6-fc5d-11e6-8232-b45b05ac7ce7.png)
which is the error you see.  But then if I open up a new notebook and do the same (i.e. sans wiping the package folder/cache), it works:
![2](https://cloud.githubuserconten

[2017-02-26 18:57] #26 closed

[2017-02-26 20:58] jgoldfar commented on #26
Thanks so much for debugging this issue; I should have figured I was doing something wrong. Apparently (though this hasn't come up for me before, it is mentioned on the settings page) you're not meant to use a notebook to do package management. So I guess it's expected behaviour.

[2017-02-26 21:54] mauro3 commented on #26
I see, good to know. (I'm a JuliaBox greenhorn.)

[2017-03-13 23:16] sbromberger opened #27 "possible enhancement request: kwarg support?"
This appears not to work:

[code]

it yields:
[code]

am I overlooking something? If not, could kwargs support be added?

[2017-03-14 10:21] #27 closed

[2017-03-14 10:22] mauro3 commented on #27
No, I was overlooking something ;-)

[2017-03-14 14:35] sbromberger opened #28 "How to get code coverage for @traitfn-wrapped functions?"
I'm using `@traitfn` like this:

[code]

I can get code coverage for `#1`, but even when I do real tests on `foo` (`#2` and `#3`), codecov complains that the method isn't tested.

Is there a recommended way to do this? (Also: is there a better way to associate a docstring other than creating a dummy non-traited function?)

[2017-03-14 14:36] sbromberger commented on #27
Thank you! Would it be possible to tag a new version?

[2017-03-14 15:27] mauro3 commented on #27
Have you tested this with your application?  And sure, I'll tag a new version.

[2017-03-14 15:30] mauro3 commented on #28
This would need something like https://github.com/bramtayl/NumberedLines.jl.  I hope to do this at some point but it's not high on my priority list.

However, @bramtayl seems keen to see his package used: https://github.com/bramtayl/NumberedLines.jl/issues/1 . So maybe he'd work with you on a PR...

[2017-03-14 16:03] sbromberger commented on #27
I haven't tested it yet but I hope to later this week.

[2017-03-14 16:36] mauro3 commented on #27
Tag: https://github.com/JuliaLang/METADATA.jl/pull/8325

Good to see that you're trying SimpleTraits in LightGraphs!

[2017-03-14 16:38] sbromberger commented on #27
Not just *trying* SimpleTraits - we envision it to be a core requirement for our abstraction initiative (https://github.com/JuliaGraphs/LightGraphs.jl/pull/541).

[2017-03-14 16:38] sbromberger commented on #27
(and thank you so much for the prompt responses to my startup issues!)

[2017-03-14 16:48] mauro3 commented on #27
Cool!  Just a heads up: from the end of next week, I'll be away from my computer for three weeks.  And next week I'll be fairly busy.  So the response time will suffer.  However, if you got a PR which is not too crazy to review, @timholy might find the time to merge it.

[2017-03-15 05:39] bramtayl commented on #28
Hmm. I'm not sure I'm seeing what the issue is? It looks to me like the line number info is in the function body (fbody), which gets passed through untouched?

[2017-03-15 08:54] mauro3 commented on #28
Sorry, I got confused with my packages: this package has line number information (thanks to @timholy, see [here](https://github.com/mauro3/SimpleTraits.jl/blob/149262d35fb0222ae39bcc36fce3b3748941d979/src/SimpleTraits.jl#L295-L302)) but Parameters.jl is lacking it.  So, I'm not sure why coverage is not reported correctly but it seems a Julia-0.5 issue, as below tests show. @sbromberger can you che

[2017-03-15 18:17] sbromberger opened #30 "Two issues / sources of confusion"
Two issues:
1) I want to dispatch on a trait but throw a method error on "not that trait", but it doesn't seem to work:

[code]

2) Also, I can't seem to use default assignments:

[code]

Thanks!

[2017-03-15 21:02] mauro3 commented on #30
For 1: you need to define:
[code]
i.e. work in the type-domain.

2. is a missing feature or maybe it got broken in the kwarg update.

[2017-03-15 21:06] sbromberger commented on #30
Ah, thanks. Sorry for the silly question.

[2017-03-15 23:15] davidanthoff opened #31 "ERROR: Cannot parse argument: $(Expr(:parameters, :(kwargs...)))"
I'm trying this:
[code]

I think it can't handle the keyword arguments right now. Is that a bug?

[2017-03-15 23:23] davidanthoff commented on #31
I was on a different branch, sorry for the noise.

[2017-03-15 23:23] #31 closed

[2017-03-16 00:29] sbromberger opened #32 ""ERROR: function ... does not accept keyword arguments""
[code]

[2017-03-16 00:31] sbromberger commented on #32
Separated from issue 2, #30 for clarity.

[2017-03-16 00:31] #30 closed

[2017-03-16 00:35] ChrisRackauckas commented on #32
Could you macroexpand:

[code]

?

[2017-03-16 00:57] sbromberger commented on #32
[code]

[2017-03-16 01:03] ChrisRackauckas commented on #32
Can you add `@show ex` above here:

https://github.com/mauro3/SimpleTraits.jl/blob/master/src/SimpleTraits.jl#L340

then re-run this? I need to see what trait dispatch function it's making.

[2017-03-16 01:37] sbromberger commented on #32
[code]

[2017-03-16 08:23] mauro3 commented on #32
Yes, this did not work before either.  But I don't think I will have time to implement this for the next four weeks (but I plan to support this feature).  The work-around is to define them by hand.

[2017-03-16 15:10] sbromberger commented on #32
I don't know how to do this, and it's blocking the new version of LightGraphs (as many functions have default assignments), so we may have to move away from traits for the moment.

[2017-03-16 15:24] mauro3 commented on #32
`f(x,y=3) = x+y` gets translated by Julia into:
[code]
Thus it tells you `2 methods`:
[code]

So instead of `@traitfn f(x::::Tr, y=3) = x+y` do:
[code]

Note, that I don't think I would support a trait annotation on the default-value arguments, i.e. no `@traitfn f(x, y::::Tr=3)`.  Or would you have a use case for that?

Anyway, one of my big junks of work just vaporized, so I might find some time

[2017-03-16 15:31] sbromberger commented on #32
@mauro3 thanks for the explanation. Does that mean that the number of functions for three assignments `f(x, a=1, b=2, c=3) = x + a + b + c` is as follows?
[code]

If you could fix this so I don't have to "unroll" these functions that would be fantastic. There are too many right now to make this an appealing proposition but I understand your time pressures before you head out.

[2017-03-16 15:34] mauro3 commented on #32
Yep that's it.

Any thoughts on:

[2017-03-16 15:35] ChrisRackauckas commented on #32
I think the fix is related to something I've seen before. `a=1, b=2, c=3` parse as `:KW` on the head, instead of as default args, when using a macro on a quoted expression sometimes. I am not sure why. You should loop through and fix the head? I remember something like that before.

[2017-03-16 15:36] sbromberger commented on #32
No use case anticipated for that.

[2017-03-16 16:47] sbromberger commented on #32
also, @mauro3 - I will be able to test in near-real-time if you want to try different approaches to the "fix".

[2017-03-17 20:48] #32 closed

[2017-03-17 20:55] mauro3 commented on #32
@sbromberger can you give this a spin? Check the readme: https://github.com/mauro3/SimpleTraits.jl#vararg-default-argument-and-keyword-argument-trait-functions

[2017-03-17 20:56] mauro3 commented on #28
@sbromberger did you check whether Julia-0.6 gives better coverage results?

[2017-03-17 20:57] sbromberger commented on #32
On it. give me a few minutes.

[2017-03-17 20:58] sbromberger commented on #32
What if I don't have a negated function?

[2017-03-17 21:07] sbromberger commented on #32
@mauro3 this looks like it passes all my test cases. THANK YOU!!! ❤️

[2017-03-17 21:10] sbromberger commented on #32
wait - spoke too soon. One sec.

[2017-03-17 21:22] sbromberger commented on #32
We're all good. Please tag this!

[2017-03-17 21:22] mauro3 commented on #32
Cool 😄

[2017-03-17 21:54] sbromberger commented on #32
@mauro3 is it possible to tag a new version before you leave? :)

[2017-03-17 22:06] sbromberger commented on #32
ROCKING: https://github.com/JuliaLang/METADATA.jl/pull/8379

Thanks, @mauro3 !!!

[2017-03-17 22:06] mauro3 commented on #32
You're welcome.  I hope this works well for LightGraphs!
(I'll be around for another week but with less and less time)

[2017-03-17 22:20] sbromberger commented on #28
@mauro3 I won't be able to do that for a while since we haven't migrated this branch to have compatibility with 0.6.

[2017-03-17 22:31] mauro3 commented on #28
Ok. I don't think there is anything for me to do here (and I certainly wouldn't know what).  So, I'll close this.  But if you figure something out, a PR is welcome.

[2017-03-17 22:31] #28 closed

[2017-03-17 23:30] sbromberger commented on #32
Understood, and I'm very grateful for your quick fixes to this. I have big plans for traits :)

[2017-03-18 03:01] sbromberger opened #33 "Just a heads up of an issue that might involve SimpleTraits"
https://github.com/JuliaLang/julia/issues/21077

Not sure where it belongs, but there you have it.

[2017-03-19 20:31] sbromberger opened #35 "What is the preferred syntax for `@traitfn`s in 0.6? (Also other style questions)"
Right now, in 0.5, `@traitfn foo{G<:AbstractGraph; IsDirected{G}}(g::G)` is one of the options for syntax.

In 0.6, how would one rewrite this with `where`?

Additional questions: I'd really like to use Traitor syntax, but I'm unsure how to do it given my `<: AbstractGraph` parameterization.

1) Is this parameterization a good idea? My `@traitdef` / `@traitimpl` is as follows:
[code]
2) What relat

[2017-03-19 21:10] mauro3 commented on #35
`where` is not supported yet.  But as the old-style is not deprecated yet, we got all of 0.6 to ponder it.

Do you mean you defined:
[code]
Note, I've never used this subtyping in the trait-def.  You can certainly do it, but is it necessary?  Maybe someone of your users has a type hierarchy such that she'd rather not subtype AbstractGraph, but now hast to.  I think there is not much to be gained b

[2017-03-19 21:13] sbromberger commented on #35
yes. That's what I've got now. I thought I was being clever by limiting the trait definition to my package.

I wanted to limit this trait to my package so that it couldn't "bleed over" into others. Perhaps this isn't a good idea?

[2017-03-19 21:16] mauro3 commented on #35
You mean if someone else defines a `IsDirected` type (or trait)?  I think, the same applies as always: if they are the "same" then make a `*Base` package for both to work with; if they are different then make them different and just fully qualify them.  I don't think the subtyping would help with that though.

[2017-03-19 21:47] sbromberger commented on #35
In `@traitdef IsNice{X}`, what significance does the `X` have?

[2017-03-19 21:57] mauro3 commented on #35
It means that the trait takes one parameter (which is the norm).  But they can have any number, there is one example in the README.

[2017-03-19 21:58] sbromberger commented on #35
So the name `X` doesn't carry over to anything else?

[2017-03-19 21:59] mauro3 commented on #35
Yep. (Just like for types, at least the "free" parameters.)

[2017-03-19 22:00] sbromberger commented on #35
Perfect. Thank you.

[2017-03-19 22:00] #35 closed

[2017-03-19 22:00] mauro3 commented on #35
You're welcome.

[2017-03-19 23:04] sbromberger opened #36 "request: multiple traitor-style args"
[code]

[2017-03-20 06:28] mauro3 commented on #36
I think, I'd give this a miss with the current features of SimpleTraits.
First, this works fine:
[code]
importantly, `x` and `y` need to have the same type.

Thus translating this into traitor syntax:
[code]
at which point the first syntax is actually shorter.  Auto-inserting the `X` would be too magical.

[2017-03-20 12:09] sbromberger commented on #36
Oh, wow. Is `@traitfn f{X}(x::X::IsFoo, y::X::IsFoo) = 5` valid Traitor syntax?

I agree with your assessment, btw. Thanks. Closing out.

[2017-03-20 12:09] #36 closed

[2017-03-20 12:45] mauro3 commented on #36
Sorry, no this is not valid traitor syntax, I now added "would give" above.  So you need to use the first syntax.

[2017-03-30 04:40] davidanthoff opened #37 "Tag a new release"
Would be great if you could tag a release that includes e3264 (i.e. current ``master``). That is the last thing I need before I can register and release https://github.com/davidanthoff/IterableTables.jl.

[2017-04-06 04:33] davidanthoff commented on #37
@mauro3 Bump, any chance you could tag a release soon? Thanks.

[2017-04-12 03:03] sbromberger opened #38 "Error in dispatch?"
[code]

[2017-04-12 16:05] davidanthoff opened #40 "Understand what the problem with IsIterator might be"
@yuyichao made [this](https://github.com/JuliaLang/julia/issues/21356#issuecomment-293470677) comment in a different issue:

I don't understand that comment, can you please elaborate, @yuyichao?

[2017-04-12 16:07] yuyichao commented on #40
Defining `start` method will not cause the `trait` to be recompiled so if you define a iteration protocol the trait may not see it.

[2017-04-12 16:26] vtjnash commented on #40
We should be able to make `method_exists` (and `applicable`) inferable now, which would make this inferable, and allowing removing the `@generated` without causing a runtime performance impact.

If you want to make a PR, inference would just need a new tfunc (following the examples at
https://github.com/JuliaLang/julia/blob/4e698cb55248b8191c4d68f9c18b656fecf48da4/base/inference.jl#L1659, which re

[2017-04-12 17:08] davidanthoff commented on #40
Is that essentially the following story? If I call ``istrait(IsIterator{X})`` on a type ``X`` for which no ``start`` method is defined, and after that ``istrait`` call I actually define the ``start`` method, then any future call to ``istrait(IsIterator{X})`` will still return ``false``? I'm aware of that issue, but I think we can live with that, certainly for my use cases that is not a problem. Bu

[2017-04-12 17:51] yuyichao commented on #40
It'll make interactive development harder (which is basically all what #265 is about, I'm not aware of any cases in package code that's directly affected by #265).

The gain would be making this code not break in the future. Arguing that something "seems" to work and "doesn't suffer from the problems" is basically what causing the other issue in the first place. I don't think there's immediate pla

[2017-04-12 18:07] vtjnash commented on #40
Which answer would you like to hear? Like in #39, you are depending on the compiler not being able to notice.

nah, that's much too simplistic. The issue is that future calls will probably be non-deterministic between returning `true`, `false`, causing random memory corruption, or a hard-abort the program with `SIGILL` / `SEGV` (if you're lucky).

[2017-04-12 20:30] sbromberger commented on #38
ref #39

[2017-04-14 22:41] davidanthoff commented on #40
So I guess the best resolution for this issue would be to find someone who can make the changes to base that @vtjnash suggested, and then just change the ``trait`` method to:
[code]
My understanding from the comments above is that this would essentially solve the problem? I actually don't understand why, but I trust that @vtjnash has a better grasp of these things than I do ;)

The other question

[2017-04-16 05:15] davidanthoff commented on #37
I actually decided to not use SimpleTraits for now, so no need to tag something for me :)

[2017-04-16 05:15] #37 closed

[2017-04-18 09:24] mauro3 commented on #37
Sorry about the delay! Is there any other reason you dropped SimpleTraits but the delay?

Should I still tag SimpleTraits?

[2017-04-18 12:42] mauro3 commented on #38
Yes, this should be fixed with #39.

[2017-04-18 13:00] mauro3 commented on #40
@vtjnash https://github.com/mauro3/SimpleTraits.jl/issues/40#issuecomment-293633610 is excellent news.  I might have a go at this, but unlikely before May, and likely needing a lot of help.

There is a tfunc addition for `applicable`: https://github.com/JuliaLang/julia/blob/4e698cb55248b8191c4d68f9c18b656fecf48da4/base/inference.jl#L555 . Is that related?

[2017-04-18 19:52] davidanthoff commented on #37
I thought for a while that I could use this and always end up with static dispatch. But with the clarification about generated functions for 0.6 that won't work. If I do end up with dynamic dispatch in any case it seems simpler right now to not use this package, mainly because I'll have to convince a large number of other packages to buy into things with IterableTables.jl, and so keeping things si

[2017-04-19 06:59] mauro3 commented on #37
That makes sense, thanks for the feedback! Hopefully the `method_exists` fix Jameson mentioned will work and come soon, then the static dispatch should be back for `IsIterator`.

[2017-04-24 21:02] mauro3 commented on #38
Fix.  Ref https://github.com/mauro3/SimpleTraits.jl/pull/39#issuecomment-296496286

[2017-04-24 21:02] #38 closed

[2017-06-19 13:44] nilshg opened #43 "Failing to precompile"
I'm on SimpleTraits 0.5.0, and the following Julia installation:

Julia Version 0.5.0
Commit 3c9d753 (2016-09-19 18:14 UTC)
Platform Info:
  System: NT (x86_64-w64-mingw32)
  CPU: Intel(R) Core(TM) i5-4200U CPU @ 1.60GHz
  WORD_SIZE: 64
  BLAS: libopenblas (USE64BITINT DYNAMIC_ARCH NO_AFFINITY Haswell)
  LAPACK: libopenblas64_
  LIBM: libopenlibm
  LLVM: libLLVM-3.7.1 (ORCJIT, haswell)

Precompila

[2017-06-19 20:33] mauro3 commented on #43
Using the tarball  https://julialang-s3.julialang.org/bin/linux/x64/0.5/julia-0.5.0-linux-x86_64.tar.gz I cannot reproduce this problem.  I don't have a windows machine, so, I cannot check there.  Any reason you're not on 0.5.2?

[2017-06-22 08:26] nilshg commented on #43
Good question - seems that this was machine and version specific, have gone to 0.6 and this is resolved.

[2017-06-22 08:26] #43 closed

[2017-06-22 14:29] mauro3 commented on #43
Cool. 0.5.2 works too, if you find that the packages you need don't work on 0.6 yet.

[2017-08-01 17:44] #33 closed

[2017-08-01 17:45] sbromberger opened #44 "Possible to fix deprecation warnings in nightly?"
Nightly now throws deprecation warnings for syntax that doesn't use the new `foo(a::T) where T` syntax for type parameterization. Is there a solution to this in SimpleTraits yet?

[2017-08-10 09:55] mauro3 commented on #44
Looks like the tests are failing too:
https://travis-ci.org/mauro3/SimpleTraits.jl/jobs/263016508

Well, I haven't moved to 0.7 yet, so this is not a priority for me.  But I'll see what I can do.  PR welcome.

[2017-08-10 11:34] mauro3 opened #45 "Associated types"
The `AbstractArray` [interface](https://docs.julialang.org/en/stable/manual/interfaces/#man-interface-array-1) also encompasses the meaning of the type parameters: `MyArray{T,N}` has eltype `T` and dim `N`.  A trait `TraitAbstractArray` ought to contain these two type parameters also, which I this context are associated types (at least Rust uses this term).  Maybe this could be written as `TraitAb

[2017-08-11 07:56] mauro3 opened #46 "Convert traitfns to use where-syntax"
Yep, but needs to wait for https://github.com/JuliaLang/julia/issues/23211

[2017-08-11 22:54] mauro3 commented on #45
I prototyped this in https://github.com/mauro3/SimpleTraits.jl/tree/m3/associated-types, which includes an [example](https://github.com/mauro3/SimpleTraits.jl/blob/2a97b7376457fef0059dee4992c9441d1a865426/example/associated-types.jl):
[code]
This is essentially the `{T}` in what Keno requested [here](https://github.com/JuliaLang/julia/issues/6975#issuecomment-161008087) (but of course without the

[2017-08-11 23:35] JeffreySarnoff commented on #45
Thanks for asking.  This feels like a step that brings not-yet-builtin traits closer to their Julian realization.

[2017-08-14 18:02] sbromberger commented on #45
Sorry for the delayed response. I'm still trying to wrap my head around this proposal :)

[2017-08-14 18:22] mauro3 commented on #45
No worries, no need for quick response.  In a nutshell it would allow for traits to have parameters just like abstract types, where things like `T,N` in `AbstractArray{T,N}` can be useful for dispatch.

[2017-08-15 10:27] mauro3 commented on #46
JuliaLang/julia#23211 is a won't fix, but only affects Julia 0.6.  So, either this needs to wait for 0.7 or the syntax needs to be changed.  A possibility is:
[code]
or using the syntax overhauls proposed in #45
[code]
The nice thing about this is that it clearly states that a computation on the types, e.g. `Tr2(X,Y)` is done, and that the result of that is then compared to some type.  X-ref: http

[2017-09-07 16:36] sbromberger opened #47 "help with syntax"
I currently have
[code]

and I want to parameterize AbstractGraph and Graph like this:
[code]

How do I rewrite my traits (and the function `foo`) to handle the parameterization? I want to get rid of the `T = eltype(g)` in the function since I think this is the source of some inefficiency.

[2017-09-07 16:38] ChrisRackauckas commented on #47
It's not a source of inefficiency and will be computed at compile-time. Any change here would not effect runtime.

[2017-09-07 17:00] sbromberger commented on #47
OK,then I'm seeing a different issue. I'll hit you up on gitter :)

[2017-09-07 17:00] #47 closed

[2017-09-07 18:11] mauro3 commented on #47
This avoids the `eltype`, not sure whether that helps with the issue though:
[code]

[2017-10-12 20:57] iamed2 opened #48 "UndefVarError while loading package on Julia 0.7"
[code]

I have time to dedicate to fixing this to submit a PR but I need help to figure out what's going on. I just have wild guesses at this point as I'm not familiar with SimpleTraits and I'm barely acquainted with MacroTools. My main motivation is getting LightGraphs working.

[2017-10-12 21:12] iamed2 commented on #48
Looks like this is a MacroTools bug which is fixed on master of that package.

[2017-10-12 21:20] mauro3 commented on #48
Thanks!  Note, that if you are also concerned about deprecations: with moving to `where` syntax, there is a slight problem: https://github.com/mauro3/SimpleTraits.jl/issues/46 .  I've been exploring some alternatives on https://github.com/mauro3/SimpleTraits.jl/tree/m3/associated-types (among other things).

[2017-10-12 21:22] mauro3 commented on #48
(Also note, that I'm on vacation from tomorrow for a week, so I probably can't help then.)

[2017-10-12 21:30] iamed2 commented on #48
At this point I'm not too worried about deprecations as new ones could pop up at any time between now and 0.7 release. I just need packages to work so I can test that _my_ packages work :)

I think just getting the version tagging going starting with MacroTools is all that's necessary. Once this package can set a lower bound on the next release of MacroTools then I can try to get LightGraphs to se

[2017-11-23 13:48] mauro3 commented on #48
I just updated the package to run again on 0.7 (on master for now, but I could tag if desired).  However the parametric method deprecations remain, for now.

[2017-11-23 13:48] #48 closed

[2017-11-23 13:50] mauro3 commented on #44
Currently the master is running again on Julia 0.7, however the deprecations for parameteric methods remain until #46 is fixed.

[2017-11-23 13:56] mauro3 opened #49 "Backtraces not working with Julia 0.7"
See https://github.com/mauro3/SimpleTraits.jl/blob/03890bd0c48012ad41f5947461d4bb6651f6f825/test/backtraces.jl#L31

@timholy, maybe you can help, I have no idea what the problem is, apart from that they are not there.  Here the top of output from running the `foo` from the tests on 0.7:
[code]
vs from 0.6:
[code]

[2017-12-07 09:44] gragusa opened #50 "Using in a package"
@mauro3 I would like to use `SimpleTraits.jl` in a package to build a generic interface. The idea is that other packages would add their types to the trait that I define in my package. I have two questions in this regard:

1. Will the master be released soon? I saw there is a divergence between master and the last release and my understanding is that the released version does not work on 0.7.

2.

[2017-12-07 10:34] mauro3 commented on #50
Cool, thanks for considering SimpleTraits!

I can tag a release for 0.7 if you want but 0.7 is moving target.  So I'd rather you'd follow master for now, that keeps the burden lower for the good folks merging all the METADATA.jl PRs.  Once 0.7 gets a feature freeze, then I'm planning to tag a version.

Note thought, that there is the still pending transition to `where`-function syntax, which will

[2018-01-02 16:30] sbromberger commented on #46
@mauro3 - would it be possible to tag a 0.7-only version of SimpleTraits so we can start migrating LightGraphs using the new `where` syntax?

[2018-01-02 22:05] mauro3 commented on #46
Yes, but I would rather wait for feature freeze to happen before spending time chasing 0.7.

[2018-01-02 22:19] sbromberger commented on #46
Makes sense to me :) Thanks.

[2018-01-03 07:04] mauro3 commented on #46
No, it didn't quite yet, but should soon: https://discourse.julialang.org/t/1-0-feature-freeze-dec-15th/7209/28

[2018-01-14 17:49] sbromberger commented on #46
https://discourse.julialang.org/t/1-0-feature-freeze-dec-15th/7209/34 - any way we might be able to start soon?

[2018-02-03 21:45] mauro3 commented on #46
I haven't forgotten this but I have not found the time yet. Sorry!  Hopefully the week after next.

[2018-02-19 09:48] mauro3 commented on #46
@sbromberger (or @rohitvarkey ): I fixed the where-syntax issue in #51.  Maybe you can give that branch a spin?

[2018-02-19 23:47] sbromberger commented on #46
@mauro3 working on it now. Hopefully will have results soon.

[2018-02-20 00:12] sbromberger commented on #46
@mauro3 things seem to be working very well with this branch. Thank you.

[2018-02-20 16:24] sbromberger commented on #46
@mauro3 - any chance you could tag this? We're moving ahead with https://github.com/JuliaGraphs/LightGraphs.jl/pull/848 since there are a large number of deprecations we need to fix prior to 0.7. Being able to reference it it REQUIRES would be awesome.

[2018-02-20 20:44] #46 closed

[2018-02-20 20:49] mauro3 commented on #46
Tagged: https://github.com/JuliaLang/METADATA.jl/pull/13453

[2018-02-20 20:53] sbromberger commented on #46
Perfect. Thank you :)

[2018-02-24 02:44] rafaqz commented on #13
+1. Adding a return type to the readme example gives an error in SimpleTraits v.0.6.0, julia 0.6:

[code]

[2018-02-24 05:22] sbromberger opened #53 "Thank you."
Hey @mauro3 -

Just wanted to thank you for all the work you've done to get SimpleTraits working on 0.7. It's made our job in LG so much easier. Really appreciated.

[2018-02-24 06:40] mauro3 commented on #53
Thanks for the kind words!  And you're welcome.  Keep me posted if you find new deprecations or other hick-ups.

[2018-02-24 06:40] #53 closed

[2018-02-27 19:47] sbromberger opened #54 "error in nightly (4406)"
[code]

I'll try to track this down.

[2018-06-28 19:34] Qiyamah opened #55 "How does istrait work?"
[code]

You don't define istrait function everytime when someone calls `@traitimpl`?

I don't see how that works, can you explain it please?

Thanks

[2018-06-28 21:11] mauro3 commented on #55
You can see what `@traitimpl` does:
[code]
So, the answer is "no".  The `trait` function gets a new method which is then called in `istrait`.

[2018-07-01 20:29] mauro3 commented on #55
I'll close this but feel free to ask more questions in this issue.

[2018-07-01 20:29] #55 closed

[2018-07-03 06:50] ChrisRackauckas opened #56 "Simple trait sets to an incorrect value on nightly"
[code]

[2018-07-03 08:31] mauro3 commented on #56
This works:
[code]
You got the false because `__has_syms(DataType)` is false.

[2018-07-03 08:31] #56 closed

[2018-08-02 07:26] mauro3 opened #57 "Fix 0.7 deprecations"

[2018-08-02 07:29] mauro3 commented on #44
See #57

[2018-08-02 07:29] #44 closed

[2018-08-02 07:30] mauro3 commented on #50
I think things are fixed here. In particular with #46 done.  Re-open if you feel this is not the case.

[2018-08-02 07:30] #50 closed

[2018-08-02 07:33] mauro3 commented on #45
Would be interesting to discuss this at JuliaCon 2018, if anyone is interested.

[2018-08-02 07:38] JeffreySarnoff commented on #45
I like parameters.

[2018-08-07 23:05] sbromberger commented on #57
As of today's -nightly, the deprecations are now errors for https://github.com/mauro3/SimpleTraits.jl/blob/b38ca92027c611ea4c5ffff8463cffc5e949fc4b/src/SimpleTraits.jl#L477-L480

[2018-08-08 14:36] sbromberger commented on #57
(is there a quick workaround for this? We're trying to keep up with 0.7/1.0 in LightGraphs.)

[2018-08-08 15:25] mauro3 commented on #57
I'm working on this and will hopefully push a fix and tag within the hour

[2018-08-08 16:12] #57 closed

[2019-07-16 02:34] DilumAluthge opened #63 "Dispatch on arrays where all elements in the array have a certain trait"
Given an array, I'd like to dispatch to one method if all elements in the array have the `FooTrait`, and to a different method if all elements in the array have the `BarTrait`. Is this possible in SimpleTraits.jl?

# Minimum working example

[code]

[2019-07-16 10:31] mauro3 commented on #63
I don't think you can do `f([A(), B()])` in general if you need fast dispatch as the array type cannot encode this.  You'd have to loop over all elements and check them individually and for this you'd need to call the trait-function with the instance and not the type.

SimpleTraits cannot help with this.

I'll close this but feel free to keep asking questions here.

[2019-07-18 06:13] DilumAluthge commented on #63
Thanks for such a quick answer! It sounds like fast-dispatch on the traits of array elements might need to be implemented in Julia itself.

[2019-07-18 06:13] #63 closed

[2019-12-11 18:29] goretkin commented on #40
I tried to follow this discussion and the discussion over at https://github.com/mauro3/SimpleTraits.jl/pull/39 and I'm currently out of my depth. Is this issue still an issue?

[2019-12-11 20:37] mauro3 commented on #40
Yep, I should really remove the generated function for `IsIterator`, it angers the gods.  But, yes if you do it manually then it will be fine for that type.  Otherwise, we should just do runtime dispatch until the time `hasmethod` is inferable.

Anyone against runtime dispatch for `IsIterator`?

[2020-04-15 12:21] jtravs opened #66 "IsIterator trait that is false for scalar numbers (IsCollection)"
I'd like to be able to dispatch on if a function is passed an iterator (such as an `Array` or `Tuple` or other collection) but not if it is an iterable scalar (such as a `Float`). See my post on discourse:

https://discourse.julialang.org/t/how-to-dispatch-on-an-iterable-e-g-accept-both-tuple-or-array/37629/3?u=jtravs

Is that possible? Something like an `IsCollection`?

[2020-04-15 21:28] mauro3 commented on #66
You can dispatch on types and traits:
[code]
I think that should give you what you need.

Note: the IsIterator trait uses a generated function which is not pure. Thus anything, including bad stuff, can happen.  I really should remove that generated function and make it use runtime dispatch instead.  See https://github.com/mauro3/SimpleTraits.jl/issues/40#issuecomment-564722299.

[2020-04-15 21:36] jtravs commented on #66
Excellent, thank you!

[2020-04-15 21:36] #66 closed

[2020-04-15 21:47] mauro3 commented on #66
Cool.  Please do note the caveat about the generated-function and coming dynamic dispatch!

[2020-04-17 21:01] mauro3 commented on #54
I'll close this, but feel free to re-open if it is still an issue.

[2020-04-17 21:01] #54 closed

[2020-04-17 21:22] mauro3 commented on #40
There are not going to be more answers...

[2020-04-17 21:22] #40 closed

[2020-04-17 21:34] mauro3 commented on #66
Aright, here it is: https://github.com/mauro3/SimpleTraits.jl/pull/67

[2020-04-18 22:42] mauro3 commented on #18
Closed by #69

[2020-04-18 22:42] #18 closed

[2020-07-31 22:44] mauro3 opened #70 "Better parse errors"
These should both error and error better:
[code]

[2020-08-01 09:58] matbesancon opened #71 "Proposal: CombinedTrait"
This could be a simpler alternative to https://github.com/mauro3/SimpleTraits.jl/pull/2

Defining a trait `CombinedTrait{X, T1, T2}` with `T1{X}, T2{X}` traits.

The implementation of CombinedTrait{X, T1, T2} could be given by a function `combine_trait` implemented as `trait_func1(X) && trait_func2(X)` (I am not sure if this is feasible)

On the user side, a combined trait can be specified on a fu

[2020-08-12 04:35] Keno opened #72 "Method locations for `@traitfn` expansions"
E.g. in
[code]
Which is from LightGraphs (which uses SimpleTraits), the methods show up as being defined in SimpleTraits, rather than LightGraphs. This is because the `@traitfn` macro introduces extra line number nodes, rather than using the line information at the expansion side. This makes finding the right method to debug quite difficult if it happens to be a `@traitfn`.

[2020-08-14 11:48] mauro3 commented on #72
x-ref: https://github.com/mauro3/SimpleTraits.jl/pull/6

[2020-08-17 13:06] #72 closed

[2020-08-17 13:08] mauro3 commented on #49
This was fixed in #73.

[2020-08-17 13:08] #49 closed

[2021-02-27 15:17] juliohm commented on #7
We are hitting this issue in Meshes.jl, any idea on how to solve it in Julia v1.5 and beyond?

[2021-03-02 07:49] mauro3 opened #75 "`fieldnames` now iferable. Use? Show example?"
The `fieldnames` function now type-infers https://github.com/JuliaLang/julia/pull/39832.  Can be used for interface specification.  And probably could add extra macro sugar for this.

[2021-03-02 11:23] juliohm commented on #7
@mauro3 is there another way to express the same thing that would avoid the warning? I was assuming that this was a quite common pattern.

[2021-03-02 15:09] timholy commented on #7
The way to fix this is to clearly separate the "trait depot" function from the dispatched handlers. Create the depot only once. That means folks have to agree on the traits they want.

[2021-03-02 16:03] juliohm commented on #7
I am not sure I understand the comment @timholy can you clarify with an example? This is the code that is producing the warning in our case: https://github.com/JuliaGeometry/Meshes.jl/blob/11e2ba938b2bfb6cb4e3d74bddab2752917e8f54/src/viewing.jl#L62-L64

We agreed on the `IsGrid` as a temporary trait while we refine the traits in the package. It indicates domains that behave like a CartesianGrid, I

[2021-04-05 16:04] juliohm commented on #7
The solution consisted of giving the argument the same name: https://github.com/JuliaGeometry/Meshes.jl/pull/110

[2021-07-08 11:43] JuliaTagBot opened #78 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2021-07-08 11:43] #78 closed

[2021-10-02 12:54] timholy opened #79 "`@inbounds` with traits"
In https://github.com/JuliaArrays/GetindexArrays.jl/issues/3#issuecomment-932743535 I identified an issue in which SimpleTraits caused a nearly 5x performance hit. SimpleTraits was confirmed to be the source because changes like
[code]
to [ImageAxes.jl](https://github.com/JuliaImages/ImageAxes.jl) (and several more similar changes) give the faster performance. I assume the problem is that the `@in

[2021-10-02 13:19] mauro3 commented on #79
Thanks for the report!  I assume you don't have an idea on how to fix this?  From the macroexpand it looks like with either order the `inline` is applied:
[code]
For your example the `$(Expr(:meta, :inline))` is also added.  So, I'm not sure what's up.

[2021-10-02 13:20] timholy commented on #79
I haven't looked. Thanks for checking! Profiling the test in that `GetindexArrays` issue I linked does reveal at least something about it (red bars in ProfileView, which indicate runtime dispatch), but I didn't really check further than that.

[2021-10-02 13:59] mauro3 commented on #79
Hm, runtime dispatch, that is even worse than not inlining!

[2021-12-03 08:00] ColdTeapot273K opened #80 "Error when explicitly importing macros"
### Versions

**module version**: 0.9.4
**Julia version**: 1.7
**Operating system**: Fedora 35

### Describe the bug
Non-obvious error if certain macros from `SimleTraits` were imported explicitly

### Steps/code to reproduce

Produces error:
[code]

Works fine:
[code]

### Proposed solutions:

1. Allow explicit importing of macros even if it's not in the design
2. Or make a descriptive error mess

[2021-12-07 11:17] mauro3 commented on #80
Note that this also errors:
[code]

However, I think that the error is pretty clear and it should also be clear what to do, namely:
[code]

This package is certainly not targeted to newbies who wouldn't understand that error.

[2021-12-07 11:17] #80 closed

[2021-12-07 16:41] mauro3 commented on #80
Sorry!  You're right that was not politely formulated!  Bad style from me, sorry!

The `using ModuleName: ModuleName` is somewhat idiomatic with the folks careful about namespaces.  But not sure how well documented it is though.  But it's true, I did learn it not too long ago, probably reading the Julia discourse-forums.

[2022-03-14 07:40] gdalle opened #81 "Parametric types with traits"
Is it possible to define parametric types with `SimpleTraits.jl`?
The package documentation shows examples like
[code]
but I have yet to see the same for parametric types. What I'm looking for is something like
[code]
Does this syntax exist somewhere?

[2022-03-14 12:52] mauro3 commented on #81
No, SimpleTraits has no such feature.  I think you should be able to hand code it.  I think what you are after is called an "associated type" at least in the Rust community.  I did some work on that back in the Traits.jl days, maybe looking through that repo could be of help https://github.com/mauro3/Traits.jl.

I will close this as I do not plan to implement such a feature.  Feel free to ask more

[2022-03-14 12:52] #81 closed

[2022-03-14 17:27] gdalle opened #82 "Callable struct with trait doesn't work"
Hi there!
I would like to make all the `struct`s that satisfy a certain trait callable. Why does the following code not work?
[code]
Am I asking too much ^^?

[2022-03-14 21:18] mauro3 commented on #82
You're missing a function name (anonymous functions are not supported) and you had to many ().  Try:
[code]

I'll close this.  But you can keep asking questions here.

[2022-03-14 21:18] #82 closed

[2022-03-15 06:30] gdalle commented on #82
Hi @mauro3, thanks for your answer. Actually, I don't think I was missing a function name, because I wanted to make the object `x` itself callable (see [this section](https://docs.julialang.org/en/v1/manual/methods/#Function-like-objects) in the manual). Or more precisely, I wanted to make all objects whose type `X` satisfy the trait `IsVeryNice` callable with the same method.

[2022-03-15 08:24] mauro3 commented on #82
No, that is not possible with SimpleTraits.  I am not sure that is even possible when hand coding Holy-traits.

[2022-03-15 09:54] gdalle commented on #82
Okay thanks!

[2022-09-30 13:03] bgctw opened #83 "qualify uses of Not"
When importing both SimpleTraits and DataFrames, I do not figure out how to deal with
"both DataFrames and SimpleTraits export "Not"; uses of it in module TwPrototypes must be qualified"

Specifically, SimpleTraits somehow inlines unqualified usages of `Not` somewhere in the code, which I do not know how to transform to qualified, which causes compiler errors "UndefVarError: Not not defined" -> wi

[2022-10-02 21:46] mauro3 commented on #83
Yes, the `Not` within the macro generated code should should be qualified.  Needs fixing.

Once that is fixed, you could just be specific with what you use:
[code]
That is probably all that you need, without the `Not`.

[2022-10-02 21:56] mauro3 commented on #83
If you have time you could try out PR #84.

[2022-10-04 06:56] bgctw commented on #83
Thanks for taking this up so quickly.
I was, unfortunately, not able to test the package dependencies on your specific commit. I only got error (using Julia 1.8.1):

[code]

[2022-10-04 06:56] bgctw commented on #83
Thanks. Yes this works.
In addition to the specific imports, I had to say

`import SimpleTraits`

to prevent errors in inlined code from SimpleTraits source where SimpleTraits module is used to qualify names.

[2022-10-04 12:50] mauro3 commented on #83
No, better do:
[code]
as `import` allows method-addition/overwriting.